@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
h1{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 30px;
    text-align: center;
}
h2{
    text-transform: capitalize; 
    color: pink;
    /* capitalize is for the first letter in the word 
    uppercase is capital letters*/
    /* text-transform: uppercase; */
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-style: wavy;
    text-decoration-thickness: 7px;
    text-indent: 70px;
}
.lorem{
    border: 2px solid pink;
    width: 145px;
    word-break:keep-all;
    overflow: hidden;
    text-overflow:ellipsis;
    /* text-overflow:clip; */

}
p{
    font-family: Rubik Bubbles;
    font-size: 20px;
    line-height: 2;
    font-style: italic;
    font-weight: 0; 
    text-decoration: underline;
     
}